 * {
      margin: 0px 0px 40px 0px;
      padding: 0px;
      box-sizing: border-box;
    }


    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Outfit', sans-serif;
      background: #0D0D0D;
      color: #F5F5F5;
      line-height: 1.6;
    }

    header {
      text-align: center;
      background: linear-gradient(to right, #111111, #1c1c1c);
      padding: 20px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    header h1 {
      font-size: 3rem;
      color: #FFD700;
      animation: fadeIn 2s ease-in-out forwards;
      opacity: 0;
      letter-spacing: 2px;
      margin: 0;
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }


    section {
      margin: auto;
      margin-top: 90px;
      max-width: 800px;
      box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.235);
      border-radius: 20px;
      padding: 30px 40px 5px 40px;
    }


    h2 {
      font-size: 2rem;
      color: #FFD700;
      margin-bottom: 20px;
    }

    #about{
      font-size: 1.45rem;
    }
/* grid */
.website-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  row-gap: 40px;
}

.website-card {
  width: 320px;
  height: 140px;
  margin: 0px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  overflow: hidden;
}

.website-card span {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(27, 27, 27);
  border-radius: 10px;
}

.website-card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

a{
  margin: 0px;
  color: #00000000;
}

svg{
  margin: 0px;
}



.linkss{
  display: flex;
  gap: 60px;
  margin: 0px;
  justify-content: center;
}
@media (max-width : 620px) {
  .linkss{
    flex-direction: column;
    gap: 0px;
    align-items: center;
    scale: 1.2;
    padding: 20px 10px 20px 10px ;
    
  }

  .email{
  width: 146px;
  align-items: center;
  justify-content: center;
 }
}

.contact{
  box-shadow: 0px 0px 10px rgba(64, 123, 64, 0.338);
}

/* link of social */
.instagram{
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.instagram span {
  margin: 10px;
}

.instagram::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}


.instagram:hover svg {
  fill: currentColor;
}

.instagram:hover {
  color: #000000;
  border: 1px solid rgb(255, 255, 255);
}

.instagram:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 255, 255);
}
/* email */


/* fb */ 
.fb {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #1b74e8;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: #236ccb;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.fb svg {
  fill: #0163E0;
  height: 25px;
  width: 25px;
}

.fb span {
  margin: 10px;
}

.fb::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.fb:hover {
  color: #fff;
  border: 1px solid #0163E0;
}

.fb:hover svg {
  fill: currentColor;
}

.fb:hover::before {
  box-shadow: inset 0 0 0 10em #0163E0;
}
